{% extends "base.html.twig" %}

{% block title %}Tasks{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Tasks Manager</h1>
        <p class="lead">This is a simple task manager for creating tasks.</p>
        <a class="btn btn-lg btn-primary" href="/tasks" role="button">Go to tasks page »</a>
    </div>
{% endblock %}