{% extends "Admin/base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            This is admin panel
        </div>
    </div>
{% endblock %}