<div aria-live="polite" aria-atomic="true">
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="opacity:1;min-width: 100%;">
        <div class="toast-header">
            <i class="fa fa-info" aria-hidden="true" style="margin-right: 10px;"></i>
            <strong class="mr-auto">Info</strong>
            <small class="text-muted">just now</small>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>