<script type="text/html" id="modal-body">
    This is empty modal
</script>

<div id="modal-editor" class="modal fade edit-task" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document"
        data-bind="css: { 'modal-lg': isLg, 'modal-xl': isXl, 'modal-sm': isSm }">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-bind="text: title">Edit task: #1</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"
                data-bind="template: { name: template, data: $data }">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- ko ifnot: hideSaveBtn -->
                <button type="button" class="btn btn-primary"
                    data-bind="click: save">Save</button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<script>
    function ModalEditor (data = {}) {
        let self = this,
            def = {
                title: 'Edit',
                template: 'modal-body',
                data: {},
                hideSaveBtn: false,
                isLg: false,
                isXl: false,
                isSm: false,
                onSave: function () {},
                onValidate: function () {return true;},
            };

        /** Default data */
        data = $.extend (def, data);

        /** Init */
        self.title = ko.observable (data.title);
        self.template = ko.observable (data.template);
        self.data = ko.observable (data.data);
        self.hideSaveBtn = ko.observable (data.hideSaveBtn);
        self.onSave = data.onSave;
        self.onValidate = data.onValidate;

        self.isLg = ko.observable (data.isLg);
        self.isXl = ko.observable (data.isXl);
        self.isSm = ko.observable (data.isSm);

        self.save = function () {
            if (!self.onValidate ()) {
                return;
            }
            if (self.onSave !== false) {
                self.onSave ();
            }
            $('#modal-editor').modal ('hide');
        };

        self.show = function (data = {}) {
            data = $.extend ({
                title: 'Edit',
                template: 'modal-body',
                data: {},
                onSave: function () {},
                hideSaveBtn: false,
                isLg: false,
                isXl: false,
                isSm: false,
            }, data);

            self.data (data.data);
            self.hideSaveBtn (data.hideSaveBtn);
            self.onSave = data.onSave;
            self.onValidate = data.onValidate;

            self.isLg (data.isLg);
            self.isXl (data.isXl);
            self.isSm (data.isSm);

            self.title (data.title);
            self.template (data.template);

            $('#modal-editor').modal ('show');
        }
    }
</script>