<div type="text/html" id="table-component">
    <button class="btn btn-primary btn-sm" type="button" style="margin-bottom: 10px;"
        data-bind="attr: { disabled: isBusy }, click: load, tooltip: { title: 'Reload data' }">
        <!-- ko if: isBusy -->
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
        <!-- /ko -->
        <!-- ko ifnot: isBusy -->
        <i class="fa fa-retweet" aria-hidden="true"></i> 
        <!-- /ko -->
    </button>

    <!-- ko if: hasAddMethod -->
    <button class="btn btn-success btn-sm" type="button" style="margin-bottom: 10px;"
        data-bind="attr: { disabled: isBusy }, click: addMethod, tooltip: { title: 'Add new item' }">
        <!-- ko if: isBusy -->
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
        <!-- /ko -->
        <!-- ko ifnot: isBusy -->
        <i class="fa fa-plus" aria-hidden="true"></i> 
        <!-- /ko -->
    </button>
    <!-- /ko -->

    <!-- ko if: data().length -->
    <!-- ko if: isBusy -->
    <div class="preloader" style="
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
            background-color: rgba(0,0,0,.5);
            z-index: 999;
        ">
        <div class="spinner-border" role="status" style="
                right: calc(50% - 25px);
                position: absolute;
                top: 20px;
                color: #fff;
            ">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- /ko -->
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <!-- ko foreach: head -->
                <th scope="col" data-bind="attr: { width: width() ? width() : 'auto' },
                    style: { 'text-align': align() ? align() : '' }">
                <!-- ko if: sort -->
                    <a data-bind="attr: { href: getHref() }">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                        <span data-bind="text: name"></span>
                    </a>
                <!-- /ko -->
                <!-- ko ifnot: sort -->
                    <span data-bind="text: name"></span>
                <!-- /ko -->
                </th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody>
            <!-- ko template: { name: rowTemplate, data: data } --><!-- /ko -->
        </tbody>
    </table>

    <!-- ko template: { name: paginationTemplate, data: $data } --><!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: data().length -->
    
    <h3 class="justify-content-center" style="text-align: center;">Data not found</h3>
    <!-- ko template: { name: paginationTemplate, data: $data } --><!-- /ko -->
    <!-- /ko -->
</div>

<script type="text/html" id="table-component-pagination-template">
    <!-- ko if: total() > perPage() -->
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" data-bind="css: { disabled: !(currentPage() > 1) }">
                <button class="page-link"
                    data-bind="click: function () {currentPage(currentPage() - 1)}">Previous</button>
            </li>

            <!-- ko foreach: pages -->
            <li class="page-item" data-bind="css: { 'active': $data == $parent.currentPage() }">
                <button class="page-link"
                    data-bind="text: $data,
                                click: function () { $parent.currentPage($data) }">#</button>
            </li>
            <!-- /ko -->

            <li class="page-item" data-bind="css: { disabled: !(pages().length > currentPage()) }">
                <button class="page-link"
                    data-bind="click: function () {currentPage(currentPage() + 1)}">Next</button>
            </li>
        </ul>
    </nav>
    <!-- /ko -->
</script>

<script>
    function Field (data = {}) {
        let self = this,
            def = {
                name: 'Field name', 
                field: '', 
                width: null, 
                align: null, 
                sort: false
            };

        data = $.extend (def, data);

        ko.mapping.fromJS (data, {}, self);

        self.getHref = function () {
            return window.location.href+'?'+self.field ();
        }
    }

    function Table (data = {}, methods = {}) {
        let self = this,
            def = {
                head: [],
                data: [],
                perPage: 3,
                currentPage: 1,
                total: 0,
                rowTemplate: 'table-component-row-template',
                paginationTemplate: 'table-component-pagination-template',
                loadUrl: '',
                isBusy: false,
            };

        data = $.extend (def, data);
        ko.mapping.fromJS (data, {}, self);

        self.pagesCount = ko.pureComputed ({
            read: () => self.total () / self.perPage (),
            owner: self
        });
        
        self.pages = ko.pureComputed ({
            read: () => {
                let pages = [];
                while (pages.length < self.pagesCount ()) {
                    pages.push (pages.length + 1);
                }
                return pages;
            },
            owner: self
        });

        self.currentPage.subscribe (function (newValue) {
            self.load ();
        });

        if (data.head.length) {
            self.head (data.head.map (item => new Field (item)));
        }
    
        self.addMethod = methods.addMethod;
        self.hasAddMethod = typeof methods.addMethod == 'function';

        self.load = function () {
            self.isBusy (true);
            let data = {
                currentPage: self.currentPage (),
                perPage: self.perPage (),
            };
            
            $.ajax ({
                type:   "GET",
                url:    self.loadUrl (),
                cache:  false,
                data:   data,
                success: function (response) {
                    response = JSON.parse (response);
                    if (typeof methods.onLoad == 'function') {
                        methods.onLoad (response.data);
                    }
                    self.total (response.count);

                    self.isBusy (false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    noty ("Can't load data", "error");
                }
            });
        }

        self.load ();
    }
</script>