{% extends "base.html.twig" %}

{% block title %}Auth{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-signin" method="GET">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">
                        Auth / <a href="/auth/register">Register</a>
                    </h1>
                </div>

                <div class="form-label-group">
                    <label>Email address</label>
                    <input class="form-control" placeholder="Email address"
                        data-bind="textInput: email">
                </div>

                <div class="form-label-group">
                    <label>Password</label>
                    <input class="form-control" placeholder="Password"
                        data-bind="textInput: password">
                </div>

                <button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;"
                    data-bind="click: login">
                    Auth
                </button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var viewModel = function () {
            let self = this;

            self.email = ko.observable ('konstantine.shtikov@yandex.ru');
            self.password = ko.observable ('dadOfAccordion');

            self.login = function () {
                $.ajax ({
                    method: "GET",
                    url: "/auth",
                    dataType: "json",
                    data: { email: self.email (), password: self.password () },
                    success: function () {
                        noty ('12312312', 'success');
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log (''+errorMessage);
                        noty ('12312312', 'error');
                    },
                });
                
            };
        }

        ko.applyBindings (viewModel);
    </script>
{% endblock %}