{% extends "base.html.twig" %}

{% block title %}Tasks{% endblock %}
{% block h1 %}
    Tasks 
    <button type="button" class="btn btn-success" data-toggle="tooltip" title="Add task"
            data-bind="click: addTask">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
{% endblock %}

{% block templates %}
    <!-- ko with: editModel -->
    {% include 'Components/ModelEditor.html.twig' %}
    <!-- /ko -->
    {% include 'Tasks/templates.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12" style="overflow-x: auto;">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Description</th>
                    <th scope="col" width="150px">Status</th>
                    {% if isAuth() %}
                    <th scope="col" style="text-align: right;">Action</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: tasks -->

                    <tr>
                        <th>
                            <b data-bind="text: id">ID</b>
                        </th>
                        <td data-bind="text: username">Username</td>
                        <td>
                            <a class="badge badge-info"
                                data-toggle="tooltip"
                                data-bind="text: email,
                                            attr: {
                                                href: 'mailto:'+email(),
                                                title: 'Mail to: '+email()
                                            }">Email</a>
                        </td>
                        <td data-bind="text: shortDescription">Description</td>
                        <td>
                            <span class="badge badge-secondary"
                                data-bind="text: status, style: { 'background-color': TASK_STATUS_COLOR_LIST[status()] }">Status</span>
                            <!-- ko if: isEdited -->
                            <span class="badge badge-secondary">Edited</span>
                            <!-- /ko -->
                        </td>
                        {% if isAuth() %}
                        <td align="right">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-warning" data-toggle="tooltip" title="Edit task"
                                    data-bind="click: edit">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Remove task"
                                    data-bind="click: remove">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% include 'Tasks/javascript.js.twig' %}
{% endblock %}