{% extends "base.html.twig" %}

{% block title %}Tasks{% endblock %}
{% block h1 %}
    Tasks 
    <button type="button" class="btn btn-success" data-toggle="tooltip" title="Add task"
            data-bind="click: addTask">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
{% endblock %}

{% block templates %}
    <!-- ko with: editModel -->
    {% include 'Components/ModalEditor.html.twig' %}
    <!-- /ko -->
    
    {% include 'Tasks/templates.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12" style="overflow-x: auto;">
            <!-- ko with: table -->
            {% include 'Components/Table.html.twig' %}
            <!-- /ko -->
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% include 'Tasks/javascript.js.twig' %}
{% endblock %}