<script type="text/html" id="table-component-row-template">
    <!-- ko foreach: $data -->
    <tr data-bind="css: { 'table-warning': userModel.isMyEmail (email()) },
                    tooltip: { title: userModel.isMyEmail (email()) ? 'Your task' : '' }">
        <th>
            #<b data-bind="text: id">ID</b>
        </th>
        <td data-bind="text: username">Username</td>
        <td>
            <span class="badge badge-info">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span data-bind="text: email">Email</span>
            </span>
        </td>
        <td data-bind="text: shortDescription">Description</td>
        <td>
            <span class="badge badge-secondary"
                data-bind="text: status, style: { 'background-color': TASK_STATUS_COLOR_LIST[status()] }">Status</span>
            <!-- ko if: isEdited -->
            <span class="badge badge-secondary">Admin edited</span>
            <!-- /ko -->
        </td>
        <td data-bind="text: createdDate">Created at</td>
        <td align="right">
            {% if isAuth() %}
            <a class="btn btn-primary"
                data-bind="attr: {
                                href: 'mailto:'+email()+'?subject=Task for '+username()+'&body='+description()
                            }, 
                            tooltip: { title: 'Send this task to: '+email() }">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </a>
            {% endif %}
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info"
                    data-bind="click: showDescription, tooltip: { title: 'Show task description' }">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                {% if isAuth() %}
                <button type="button" class="btn btn-warning"
                    data-bind="click: edit, tooltip: { title: 'Edit task' }">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger"
                    data-bind="click: remove, tooltip: { title: 'Remove task' }">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                {% endif %}
            </div>
        </td>
    </tr>
    <!-- /ko -->
</script>

<script type="text/html" id="task-edit-modal">
    <!-- ko with: data -->
    <form data-bind="validationOptions: { messageTemplate: 'customMessageTemplate' }">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="input-group input-group-sm mb-3" data-bind="tooltip: { title: 'Username' }">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            data-bind="textInput: username, 
                                        css: { 'is-valid': username.isModified() && username.isValid() }">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="input-group input-group-sm mb-3" data-bind="tooltip: { title: 'Email' }">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email"
                            data-bind="textInput: email, 
                                        css: { 'is-valid': email.isModified() && email.isValid() }">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="inputAddress2">
                Description 
                <!-- ko if: description -->
                <span class="badge badge-info"
                    data-bind="text: 'Length: '+description().length">Length</span>
                <!-- /ko -->
            </label>
            <textarea class="form-control" placeholder="The field is not filled" rows="8"
                data-bind="textInput: description, 
                            tooltip: {},
                            css: { 'is-valid': description.isModified() && description.isValid() }"></textarea>
        </div>

        <div class="form-group">
            <label for="inputAddress2">
                Status: <span class="badge badge-primary"
                                data-bind="text: status, style: { 'background-color': TASK_STATUS_COLOR_LIST[status()] }">Status</span>
            </label>
            <select class="custom-select" 
                data-bind="options: TASK_STATUS_LIST,
                            value: status"></select>
        </div>
    </form>
    <!-- /ko -->
</script>

<script id="customMessageTemplate" type="text/html">
    <div class="invalid-feedback" data-bind="validationMessage: field"
        style="display: block;"></div>
</script>

<script id="task-show-description-modal" type="text/html">
    <!-- ko with: data -->
    <div class="row">
        <div class="col-md-4">
            Status: 
            <span class="badge badge-secondary"
                data-bind="text: status, style: { 'background-color': TASK_STATUS_COLOR_LIST[status()] }">Status</span>
            <!-- ko if: isEdited -->
            <span class="badge badge-secondary">Admin edited</span>
            <!-- /ko -->
        </div>
        <div class="col-md-3">
            Username: 
            <span class="badge badge-primary" data-bind="text: username">Username</span>
        </div>
        <div class="col-md-5">
            Email: 
            <span class="badge badge-info">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span data-bind="text: email">Email</span>
            </span>
        </div>
    </div>
    <hr>
    <p data-bind="text: description"></p>
    <!-- /ko -->
</script>