<script type="text/html" id="task-edit-modal">
    <!-- ko with: data -->
    <form data-bind="validationOptions: { messageTemplate: 'customMessageTemplate' }">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="The field is not filled"
                data-bind="textInput: username, 
                            css: { 'is-valid': username.isModified() && username.isValid() }">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="The field is not filled"
                data-bind="textInput: email, 
                            css: { 'is-valid': email.isModified() && email.isValid() }">
        </div>

        <div class="form-group">
            <label for="inputAddress2">Description</label>
            <textarea class="form-control" placeholder="The field is not filled" rows="5"
                data-bind="textInput: description, 
                            css: { 'is-valid': description.isModified() && description.isValid() }"></textarea>
        </div>

        <div class="form-group">
            <label for="inputAddress2">
                Status: <span class="badge badge-primary"
                                data-bind="text: status, style: { 'background-color': TASK_STATUS_COLOR_LIST[status()] }">Status</span>
            </label>
            <select class="custom-select" 
                data-bind="options: TASK_STATUS_LIST,
                            value: status"></select>
        </div>
    </form>
    <!-- /ko -->
</script>

<script id="customMessageTemplate" type="text/html">
    <div class="invalid-feedback" data-bind="validationMessage: field"
        style="display: block;"></div>
</script>

<script id="task-show-description-modal" type="text/html">
    <!-- ko with: data -->
    <p data-bind="text: description"></p>
    <!-- /ko -->
</script>